<div class="col-md-4">
    <aside>
        <h4 class="a-heading4"><a href="#" class="m-verticalNav-title">Title</a></h4>
        <ul class="nav flex-column">
            <li class="nav-item open">
                <a class="m-verticalNav-link" href="#">Link</a>

                <ul class="nav-stacked m-verticalNav-stacked">
                    <li><a href="#" class="m-verticalNav-stackedLink">Thank Africa Book Club</a></li>
                    <li><a href="#" class="m-verticalNav-stackedLink">Book Chat Bubble</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="m-verticalNav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="m-verticalNav-link" href="#">Link</a>
            </li>
        </ul>
    </aside>
</div>
