<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        {% for slide in slides %}
        <div class="carousel-item {{ 'active' if loop.first }}">
            <div class="jumbotron jumbotron-xl bg-media" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), center / cover no-repeat {{ slide.link }}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="a-heading1 text-white">{{ slide.title }}</h1>
                            <p class="a-textLead text-white">{{ slide.text }}</p>
                            <a href="#" class="m-linkButtonWhite"><span class="a-heading4">{{ slide.buttonText }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>