<div class="m-formGroup my-3">
    <label class="a-textLabel">{{label}}</label>
    <input type="{{type}}" class="form-control {% if class %} {{ class }} {% endif %}" aria-describedby="name" placeholder="{{placeholder}}">
</div>