<html class="no-js" lang="en">

<head>
    <title>Bookstore</title>
</head>

<body>
    <div id="wrapper">

        {% include '@header' %}

        <main class="pb-5">
            <div id="content">
                <div class="container py-5">
                    <div class="row">
                        {% include '@banner--white' %}
                    </div>
                </div>

                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-4">
                            {% include '@input' %}
                            {% include '@input' %}
                            {% include '@input' %}
                            {% include '@input--textarea' %}
                            {% include '@button--secondarycolor' %}
                        </div>

                        <div class="col-md-8">
                            <div class="o-containerPink p-3 my-5 my-md-0">
                                <h3 class="a-heading3">How can we help?</h3>
                                <p class="a-textBitter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis quis justo in dictum. Etiam consequat lectus in placerat efficitur. Curabitur nec gravida turpis, quis porta tortor. Aenean placerat cursus nisl. Proin sed mollis diam, eu eleifend justo. Mauris ullamcorper condimentum elit et ultrices. In hac habitasse platea dictumst. Mauris neque odio, finibus quis urna eu, commodo gravida lorem. Phasellus consectetur ligula at consequat ultricies.</p>
                                {% include '@highlight-card--horizontal-card'%}
                                {% include '@highlight-card--horizontal-card'%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include '@footer' %}

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>