<div class="col-sm-4">
   <div class="o-card">
      <a href="#">
      <img src="{{ cardImg }}" class="img-responsive w-100">
      </a>
      <div class="o-card-caption mb-4">
         <h3 class="a-heading3 my-2">{{ title }}</h3>
         <p>
            {{ cardText }}
         </p>
         <a href="#" class="m-linkButtonColor mb-4"><span class="a-buttonText">{{ linkText }}</span></a>
      </div>
   </div>
</div>