<div class="col-lg-8 mt-3">
    <div class="o-eventCell">
        <div class="o-eventCell-card">
            <div class="o-eventCell-imgWrapper">
                <img class="mr-3" src="{{ cardImg }}" alt="Card image cap" width="150" height="100">
            </div>
            <div class="o-eventCell-cardBody">
                <h3 class="a-heading3">{{ eventCellTitle }}</h3>
                <p class="a-textBitter">{{ eventCellText }}</p>
            </div>
        </div>
        <div class="card-footer o-eventCell-cardFooter">
            <small class="text-OpenSans">{{ eventCellDate }}</small>
        </div>
    </div>
</div>