<div class="col-sm-8">
   <div class="o-card">
      <a href="#">
         <img src="{{ cardImg }}" class="img-responsive w-100">
      </a>
      <div class="o-card-caption">
         <h3 class="a-heading3 my-2">Shadow and Bone</h3>
         <p class="a-textBitter mb-4">
            {{ cardWideText }}
         </p>
         <a href="#" class="m-btnPrimaryColor mb-4"><span class="a-heading4">{{ linkText }}</span></a>
      </div>
   </div>
</div>