<div class="o-highlightCard p-4 my-3">
    <h5 class="a-textOpenSans text-uppercase">{{ title }}</h5>
    <div class="row">
        <div class="col-md-12">
            <p class="a-textBitter">{{ text }}</p>
            <a href="#" class="m-btnSecondaryWhite"><span class="a-buttonText">{{ buttonText }}</span></a>
        </div>
    </div>
</div>
